<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- image upload start-->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

{% if post %}
    <video src="{{ post.document.url }}"></video>
    <p>File uploaded at: <a href="{{ post.document.url }}">{{ post.document }}</a></p>
    <h1>Процент выполнения: {{ current_progress }}</h1>
    <h1>Количество лиц: {{ faces_count }}</h1>
{% endif %}

<p><a href="{% url 'vdface' %}">Return to home</a></p>
<!-- image upload end -->

</body>
</html>